$font-stack: "Helvetica"
$text-color: #fff
$text-color-secondary: #a6a6a6
$dody-bg-color: linear-gradient(0deg, rgba(0,0,108,1) 0%, rgba(23,16,120,1) 66%, rgba(6,15,17,1) 100%)
$bg-color: #111
$bg-color-secondary: #1d1d1d    
$container-border-radius: 10px
$card-border-radius: 5px
$gradient: linear-gradient(160deg, #dbdadd 0%, #14006d 100%)
